<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBgc8ZiGQlxAkotSMHJDtwzneOERgLmnA</string>
	<key>GCM_SENDER_ID</key>
	<string>1036453210426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.com.Sabbara</string>
	<key>PROJECT_ID</key>
	<string>sabbarateam</string>
	<key>STORAGE_BUCKET</key>
	<string>sabbarateam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036453210426:ios:55b1b9ad62662f641cc803</string>
</dict>
</plist>